@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Space+Grotesk:wght@300..700&display=swap");
@import "./scss/abstracts/variables";
@import "./scss/abstracts/mixins";
@import "./scss/base/reset";

// ფონტების მაგალითები, იმის მიხედვით რომელიც დაგჭირდებათ - დატოვეთ როგორც კომენტარი

// .fira-sans-regular {
//   font-family: "Fira Sans", sans-serif;
//   font-weight: 400;
//   font-style: normal;
// }

// .fira-sans-medium {
//   font-family: "Fira Sans", sans-serif;
//   font-weight: 500;
//   font-style: normal;
// }

// .fira-sans-semibold {
//   font-family: "Fira Sans", sans-serif;
//   font-weight: 600;
//   font-style: normal;
// }

body {

  font-family: "Fira Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0px;

}

.social-icons {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .icon {
    background-color: $interface-lightgray-1;
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 40px;

    &:hover {
      transform: scale(1.05);
      background-color: #e2e6ec;
    }
  }

  a {
    font-size: $body-txt-fs;
    ;
  }
}

.logo {
  font-size: 28px;
  color: $primary-color;
  font-weight: $headline-fws;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: $interface-lightgray-2;
  border-radius: 10px;

}

input {
  padding: 14px 16px;
  border: none;
  background-color: $interface-lightgray-2;
  border-radius: 10px;

}

.search-btn {
  padding: 6px 10px;
  margin: 4px;
  border: none;
  border-radius: 8px;
  background-color: $interface-white;
  height: 40px;
  width: 40px;


  cursor: pointer;

  i {
    color: $interface-gray;
  }
}

.second-search {
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  background-color: $interface-lightgray-2;

}

.burgermenu {
  display: none;
}

.header-2 {
  background-color: $interface-lightgray-1;
  height: 52px;

}


ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  margin: 0;
  list-style: none;
}


li {
  margin: 0;

  a {
    text-decoration: none;
    color: $interface-gray;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}



.dropdown {
  position: relative;
  display: none;


  .dropdown-menu-btn {
    display: none;
    background: transparent;
    border: none;
    color: $interface-gray;
    font-size: 16px;


    &:hover {
      color: red;
      cursor: pointer;
    }

    .arrow {
      font-size: 10px;
      margin-left: 5px;
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
     top: 100%;
    left: 0;
    background-color: $interface-white;
    border-radius: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    li {
      a {
       display:block;
        padding: 15px;
        color: $interface-gray;
        text-decoration: none;

        &:hover {
          background-color: $interface-lightgray-2;
        }
      }
    }
  }

  &:hover .dropdown-content {
    display: flex;
    background-color: $interface-white;
    
  }
}






//=========responsive============


// Large screens: 1920px+
@media (min-width: 1920px) {
  .header-1 {
    padding: 20px 80px;

    .logo {
      font-size: 34px;
    }

    .search-bar input {
      width: 300px;
    }
  }

  ul li a {
    font-size: 18px;
  }
}

// Standard desktop: max-width 1240px
@media (max-width: 1240px) {
  .header-1 {
    flex-wrap: wrap;
    justify-content: space-around;
    



    .logo {
      font-size: 28px;
      text-align: center;
    }
  }

 .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
  }

  .nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin: 0 10px;

      a {
        text-decoration: none;
        color:$interface-gray;
        font-weight: 500;
        padding: 8px;
        display: block;

        &:hover {
          text-decoration: underline;
        }
      }
    }

  }


  .extra-item {
    display: none;
  }

  .dropdown {
    display: inline-block;
   
    .dropdown-menu-btn {
      display: inline-block;
      &:hover + .dropdown-content {
        display: flex; 
        flex-direction: column;
      }

    }
   .list{
    display: none;
   }
    .dropdown-content {
      display: block;
      margin: 22px;
      left: -80px
    }

    &:hover .dropdown-content {
      display: block;
    }
  }


}



// Tablet: max-width 1024px
@media (max-width: 1024px) {
  .header-1 {

    flex-direction: row;
    align-items: center;


    .logo {
      display: flex;
      align-items: flex-start;
      font-size: 24px;

    }

    .search-bar {
      padding: 0 2px;
    }

    .social-icons {
      display: none;
    }
  }

  .header-2 {
    display: none;
  }
}





// Mobile: max-width 360px
@media (max-width: 360px) {
  .header-1 {
    


    .social-icons {
      display: none;


    }

    .logo {
      font-size: 16px;
      line-height: 34px;
      display: flex;
      justify-content: flex-start;
      padding: 10px;
    }

    .second-search {
      display: flex;

    }

    .search-bar {
      display: none;

    }

    .header-2 {
      display: none;
    }

  }
}