@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Space+Grotesk:wght@300..700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: "Fira Sans", sans-serif;
}

.container {
  max-width: 1312px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.container .grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-top: 64px;
  gap: 16px;
}
.container .grid .mini-card {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  max-width: 304px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
.container .grid .mini-card .card-text {
  padding: 16px 12px;
  max-width: 280px;
}
.container .grid .mini-card .card-text p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #4A5468;
  margin-bottom: 8px;
}
.container .grid .mini-card .card-text h4 {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #000;
  font-family: "FiraGO";
}
.container .grid .big-card {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  max-width: 640px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
.container .grid .big-card .card-text {
  padding: 32px 16px;
  max-width: 608px;
  border-bottom: 1px solid #EDF0F7;
}
.container .grid .big-card .card-text h4 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: 0.5px;
}
.container .grid .big-card .news {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.container .grid .big-card .news p {
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #ff3B30;
}
.container .grid .big-card .news h5 {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  color: #4A5468;
}
.container .grid .moon {
  grid-column: 1/2;
  grid-row: 1/2;
}
.container .grid .clock {
  grid-column: 1/2;
  grid-row: 2/3;
}
.container .grid .cyan-splash {
  grid-column: 2/3;
  grid-row: 1/3;
}
.container .grid .pink-splash {
  grid-column: 3/4;
  grid-row: 1/2;
}
.container .grid .lockers {
  grid-column: 3/4;
  grid-row: 2/3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin: 0px;
}

.social-icons {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}
.social-icons .icon {
  background-color: #E2E7F0;
  border: none;
  border-radius: 8px;
  height: 40px;
  width: 40px;
}
.social-icons .icon:hover {
  transform: scale(1.05);
  background-color: #e2e6ec;
}
.social-icons a {
  font-size: 16px;
}

.logo {
  font-size: 28px;
  color: #ff3B30;
  font-weight: 600;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #EDF0F7;
  border-radius: 10px;
  position: absolute;
  right: 70px;
}

input {
  padding: 14px 16px;
  border: none;
  background-color: #EDF0F7;
  border-radius: 10px;
}

.search-btn {
  padding: 6px 10px;
  margin: 4px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.search-btn i {
  color: #4A5468;
}

.buttons {
  display: none;
  position: absolute;
  right: 25px;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.second-search {
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  background-color: #EDF0F7;
}
.second-search:hover {
  cursor: pointer;
}

.humburger {
  display: none;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  top: 5px;
  left: 3px;
  padding: 0 3px;
  border: none;
  border-radius: 8px;
  width: 40px;
  height: 39px;
  background-color: #EDF0F7;
  cursor: pointer;
}

.bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 2px;
  margin: 3px auto;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.nav-menu {
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
  position: absolute;
  right: -100%;
  top: 96px;
  flex-direction: column;
  background-color: #E2E7F0;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  transition: 0.3s;
  z-index: 999;
}

.nav-menu li {
  list-style: none;
  transition: 0.7s ease;
  text-decoration: none;
}

.nav-menu a:hover {
  color: #ff3B30;
  text-decoration: none;
}

.header-2 {
  background-color: #E2E7F0;
  height: 52px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  margin: 0;
  list-style: none;
}

li {
  margin: 0;
}
li a {
  text-decoration: none;
  color: #4A5468;
  font-weight: 500;
}
li a:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: none;
}
.dropdown .dropdown-menu-btn {
  display: none;
  background: transparent;
  border: none;
  color: #4A5468;
  font-size: 16px;
}
.dropdown .dropdown-menu-btn:hover {
  color: red;
  cursor: pointer;
}
.dropdown .dropdown-menu-btn .arrow {
  font-size: 10px;
  margin-left: 5px;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.dropdown .dropdown-content li a {
  display: block;
  padding: 15px;
  color: #4A5468;
  text-decoration: none;
}
.dropdown .dropdown-content li a:hover {
  background-color: #EDF0F7;
}
.dropdown:hover .dropdown-content {
  display: flex;
  background-color: #fff;
}

.container {
  max-width: 1312px;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main {
  margin-top: 48px;
}
.main #slider-section {
  width: 100%;
  height: 712px;
  position: relative;
  border-radius: 12px;
  padding: 24px;
}
.main #slider-section .img-description-container {
  width: 600px;
  height: 280px;
  background-color: #fff;
  position: absolute;
  bottom: 24px;
  left: 24px;
  padding: 32px 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.main #slider-section .img-description-container .description-category-date-container p {
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: -0.08px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main #slider-section .img-description-container .description-category-date-container p .category {
  color: #ff3B30;
}
.main #slider-section .img-description-container .description-category-date-container p .date {
  color: #4A5468;
}
.main #slider-section .img-description-container h2 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.35px;
}
.main #slider-section .img-description-container .slider-controls-container {
  gap: 12px;
  background-color: #EDF0F7;
  border-radius: 8px;
  padding: 8px;
}
.main #slider-section .img-description-container .slider-controls-container .slider-numeration {
  font-weight: bold;
}
.main #slider-section .img-description-container .slider-controls-container .slider-controls {
  cursor: pointer;
  border: none;
}
.main #slider-section .img-description-container .slider-controls-container .slider-controls:hover {
  background-color: #E2E7F0;
}
.main #slider-section .slider-controls-tablet-and-mobile {
  display: none;
}

@media (min-width: 1920px) {
  .header-1 .logo {
    font-size: 34px;
  }
  .header-1 .search-bar {
    display: flex;
    position: static;
  }
  .header-1 .sidebar {
    display: none;
  }
  .header-1 .search-bar input {
    width: 250px;
  }
  .header-1 ul li a {
    font-size: 18px;
  }
}
@media (max-width: 1240px) and (min-width: 1025px) {
  .header-1 {
    justify-content: space-between;
    padding: 0 30px;
  }
  .header-1 .logo {
    font-size: 28px;
    text-align: center;
    margin-right: 15rem;
  }
  .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .nav-list li {
    margin: 0 10px;
  }
  .nav-list li a {
    text-decoration: none;
    color: #4A5468;
    font-weight: 500;
    padding: 8px;
    display: block;
  }
  .nav-list li a:hover {
    text-decoration: underline;
  }
  .extra-item {
    display: none;
  }
  .dropdown {
    display: inline-block;
  }
  .dropdown .dropdown-menu-btn {
    display: inline-block;
  }
  .dropdown .dropdown-menu-btn:hover + .dropdown-content {
    display: flex;
    flex-direction: column;
  }
  .dropdown .list {
    display: none;
  }
  .dropdown .dropdown-content {
    display: block;
    margin: 22px;
    left: -80px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
@media (max-width: 1024px) {
  .header-1 {
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }
  .header-1 .logo {
    display: flex;
    align-items: flex-start;
    font-size: 24px;
  }
  .header-1 .search-bar {
    padding: 0 2px;
    margin-left: 15px;
  }
  .header-1 .buttons {
    display: flex;
  }
  .header-1 .social-icons {
    display: none;
  }
  .header-2 {
    display: none;
  }
  .humburger {
    display: block;
  }
  .humburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .humburger.active .bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }
  .humburger.active .bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
  }
  .nav-menu {
    display: flex;
  }
  .nav-menu.active {
    right: 0;
  }
}
@media (max-width: 360px) {
  .social-icons {
    display: none;
  }
  .logo {
    font-size: 8px;
    line-height: 34px;
    padding: 0 10px;
  }
  .second-search {
    display: block;
  }
  .buttons {
    display: flex;
  }
  .search-bar {
    display: none;
  }
  .header-2 {
    display: none;
  }
  .humburger {
    display: block;
  }
  .humburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .humburger.active .bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }
  .humburger.active .bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
  }
  .nav-menu {
    display: flex;
  }
  .nav-menu.active {
    right: 0;
  }
}
@media screen and (max-width: 1240px) {
  .container {
    max-width: 1128px;
    width: 100%;
    margin: 0 auto;
  }
  .main {
    margin-top: 32px;
  }
  .main #slider-section {
    padding: 0;
    margin-top: 32px;
  }
  .main #slider-section .img-description-container {
    width: 95%;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 928px;
    width: 100%;
    margin: 0 auto;
  }
  .main {
    margin-top: 15px;
  }
  .main #slider-section {
    height: 560px;
    padding-left: 24px;
    padding-top: 24px;
  }
  .main #slider-section .img-description-container {
    height: 30%;
  }
  .main #slider-section .img-description-container .slider-controls-desktop {
    display: none;
  }
  .main #slider-section .img-description-container .slider-controls-tablet-and-mobile {
    display: flex;
    position: absolute;
    gap: 12px;
    background-color: #EDF0F7;
    padding: 8px;
    border-radius: 8px;
    bottom: 280%;
  }
  .main #slider-section .img-description-container .slider-controls-tablet-and-mobile .slider-controls {
    cursor: pointer;
    border: none;
  }
  .main #slider-section .img-description-container .slider-controls-tablet-and-mobile .slider-controls:hover {
    background-color: #E2E7F0;
  }
}
@media screen and (max-width: 360px) {
  .container {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
  }
  .main {
    margin-top: 0;
  }
  .main #slider-section {
    height: 280px;
    width: 100%;
    border-radius: 0;
    padding-top: 0;
    padding-left: 0;
    margin-bottom: 210px;
  }
  .main #slider-section .img-description-container {
    width: 100%;
    left: 0;
    bottom: -160px;
    padding: 20px 0;
    height: 158px;
  }
  .main #slider-section .img-description-container .description-category-date-container,
  .main #slider-section .img-description-container .description-txt {
    margin: 0 10px;
  }
  .main #slider-section .img-description-container .description-category-date-container h2,
  .main #slider-section .img-description-container .description-txt h2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: 0.35px;
  }
  .main #slider-section .img-description-container .slider-controls-tablet-and-mobile {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 180%;
    padding: 0;
    left: 5%;
    background-color: transparent;
  }
  .main #slider-section .img-description-container .slider-controls-tablet-and-mobile .slider-controls {
    border-radius: 8px;
  }
  .main #slider-section .img-description-container .slider-controls-tablet-and-mobile .slider-numeration {
    display: none;
  }
}
@media screen and (max-width: 1240px) {
  .container {
    max-width: 1128px;
    width: 100%;
    margin: 0 auto;
  }
  .container .grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .container .grid .mini-card {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    max-width: 264px;
  }
  .container .grid .mini-card .img-size-mini {
    width: 264px;
    height: 150px;
  }
  .container .grid .mini-card .img-size-mini img {
    width: 100%;
    height: 100%;
  }
  .container .grid .mini-card .card-text {
    padding: 16px 12px;
    max-width: 240px;
  }
  .container .grid .big-card {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    max-width: 552px;
  }
  .container .grid .big-card .img-size-big {
    width: 552px;
    height: 356px;
  }
  .container .grid .big-card .img-size-big img {
    width: 100%;
    height: 100%;
  }
  .container .grid .big-card .card-text {
    padding: 32px 16px;
    max-width: 520px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 928px;
    width: 100%;
    margin: 0 auto;
  }
  .container .grid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.8fr 1fr 1fr;
  }
  .container .grid .mini-card {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    max-width: 448px;
  }
  .container .grid .mini-card .img-size-mini {
    width: 448px;
    height: 194px;
  }
  .container .grid .mini-card .img-size-mini img {
    width: 100%;
    height: 100%;
  }
  .container .grid .mini-card .card-text {
    padding: 16px 12px;
    max-width: 432px;
  }
  .container .grid .big-card {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    max-width: 928px;
  }
  .container .grid .big-card .img-size-big {
    width: 928px;
    height: 372px;
  }
  .container .grid .big-card .img-size-big img {
    width: 100%;
    height: 100%;
  }
  .container .grid .big-card .card-text {
    padding: 32px 16px;
    max-width: 896px;
  }
  .container .grid .moon {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .container .grid .clock {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .container .grid .cyan-splash {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .container .grid .pink-splash {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .container .grid .lockers {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}
@media screen and (max-width: 360px) {
  .container {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
  }
  .container .grid {
    display: grid;
    width: 100%;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr;
  }
  .container .grid .mini-card {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    max-width: 328px;
    max-height: 230px;
  }
  .container .grid .mini-card .img-size-mini {
    width: 328px;
    height: 140px;
  }
  .container .grid .mini-card .img-size-mini img {
    width: 100%;
    height: 100%;
  }
  .container .grid .mini-card .card-text {
    padding: 12px 4px 16px 12px;
    max-width: 240px;
  }
  .container .grid .big-card {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: none;
    max-width: 328px;
  }
  .container .grid .big-card .img-size-big {
    width: 328px;
    height: 191px;
  }
  .container .grid .big-card .img-size-big img {
    width: 100%;
    height: 100%;
  }
  .container .grid .big-card .card-text {
    padding: 16px;
    max-width: 296px;
  }
  .container .grid .moon {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .container .grid .clock {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .container .grid .cyan-splash {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .container .grid .pink-splash {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .container .grid .lockers {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}/*# sourceMappingURL=main.css.map */