@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&family=Space+Grotesk:wght@300..700&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: "Fira Sans", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 0px;
}

.social-icons {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.social-icons .icon {
  background-color: #E2E7F0;
  border: none;
  border-radius: 8px;
  height: 40px;
  width: 40px;
}
.social-icons .icon:hover {
  transform: scale(1.05);
  background-color: #e2e6ec;
}
.social-icons a {
  font-size: 16px;
}

.logo {
  font-size: 28px;
  color: #ff3B30;
  font-weight: 600;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #EDF0F7;
  border-radius: 10px;
}

input {
  padding: 14px 16px;
  border: none;
  background-color: #EDF0F7;
  border-radius: 10px;
}

.search-btn {
  padding: 6px 10px;
  margin: 4px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.search-btn i {
  color: #4A5468;
}

.second-search {
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  background-color: #EDF0F7;
}

.burgermenu {
  display: none;
}

.header-2 {
  background-color: #E2E7F0;
  height: 52px;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  margin: 0;
  list-style: none;
}

li {
  margin: 0;
}
li a {
  text-decoration: none;
  color: #4A5468;
  font-weight: 500;
}
li a:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: none;
}
.dropdown .dropdown-menu-btn {
  display: none;
  background: transparent;
  border: none;
  color: #4A5468;
  font-size: 16px;
}
.dropdown .dropdown-menu-btn:hover {
  color: red;
  cursor: pointer;
}
.dropdown .dropdown-menu-btn .arrow {
  font-size: 10px;
  margin-left: 5px;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border-radius: 8px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.dropdown .dropdown-content li a {
  display: block;
  padding: 15px;
  color: #4A5468;
  text-decoration: none;
}
.dropdown .dropdown-content li a:hover {
  background-color: #EDF0F7;
}
.dropdown:hover .dropdown-content {
  display: flex;
  background-color: #fff;
}

@media (min-width: 1920px) {
  .header-1 {
    padding: 20px 80px;
  }
  .header-1 .logo {
    font-size: 34px;
  }
  .header-1 .search-bar input {
    width: 300px;
  }
  ul li a {
    font-size: 18px;
  }
}
@media (max-width: 1240px) {
  .header-1 {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .header-1 .logo {
    font-size: 28px;
    text-align: center;
  }
  .main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .nav-list li {
    margin: 0 10px;
  }
  .nav-list li a {
    text-decoration: none;
    color: #4A5468;
    font-weight: 500;
    padding: 8px;
    display: block;
  }
  .nav-list li a:hover {
    text-decoration: underline;
  }
  .extra-item {
    display: none;
  }
  .dropdown {
    display: inline-block;
  }
  .dropdown .dropdown-menu-btn {
    display: inline-block;
  }
  .dropdown .dropdown-menu-btn:hover + .dropdown-content {
    display: flex;
    flex-direction: column;
  }
  .dropdown .list {
    display: none;
  }
  .dropdown .dropdown-content {
    display: block;
    margin: 22px;
    left: -80px;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
@media (max-width: 1024px) {
  .header-1 {
    flex-direction: row;
    align-items: center;
  }
  .header-1 .logo {
    display: flex;
    align-items: flex-start;
    font-size: 24px;
  }
  .header-1 .search-bar {
    padding: 0 2px;
  }
  .header-1 .social-icons {
    display: none;
  }
  .header-2 {
    display: none;
  }
}
@media (max-width: 360px) {
  .header-1 .social-icons {
    display: none;
  }
  .header-1 .logo {
    font-size: 16px;
    line-height: 34px;
    display: flex;
    justify-content: flex-start;
    padding: 10px;
  }
  .header-1 .second-search {
    display: flex;
  }
  .header-1 .search-bar {
    display: none;
  }
  .header-1 .header-2 {
    display: none;
  }
}

.container {
  max-width: 1312px;
  width: 100%;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main {
  margin-top: 48px;
  background-color: #E2E7F0;
}
.main #slider-section {
  background: url("./imgs/slider-imgs/slider-1-mountains.png");
  background-repeat: no-repeat;
  width: 100%;
  height: 712px;
  position: relative;
  border-radius: 12px;
  padding: 24px;
}
.main #slider-section .img-description-container {
  width: 600px;
  height: 280px;
  background-color: #fff;
  position: absolute;
  bottom: 24px;
  left: 24px;
  padding: 32px 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.main #slider-section .img-description-container .description-category-date-container p {
  font-size: 13px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: -0.08px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.main #slider-section .img-description-container .description-category-date-container p .category {
  color: #ff3B30;
}
.main #slider-section .img-description-container .description-category-date-container p .date {
  color: #4A5468;
}
.main #slider-section .img-description-container h2 {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 0.35px;
}
.main #slider-section .img-description-container .slider-controls-container {
  gap: 12px;
  background-color: #EDF0F7;
  border-radius: 8px;
  padding: 8px;
}
.main #slider-section .img-description-container .slider-controls-container .slider-numeration {
  font-weight: bold;
}
.main #slider-section .img-description-container .slider-controls-container .slider-controls {
  cursor: pointer;
  border: none;
}
.main #slider-section .img-description-container .slider-controls-container .slider-controls:hover {
  background-color: #E2E7F0;
}
.main #slider-section .slider-controls-tablet-and-mobile {
  display: none;
}

@media screen and (max-width: 1240px) {
  .container {
    max-width: 1128px;
    width: 100%;
    margin: 0 auto;
  }
  .main {
    margin-top: 32px;
  }
  .main #slider-section {
    padding: 0;
  }
  .main #slider-section .img-description-container {
    width: 90%;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 928px;
    width: 100%;
    margin: 0 auto;
  }
  .main {
    margin-top: 15px;
  }
  .main #slider-section {
    height: 560px;
    padding-left: 24px;
    padding-top: 24px;
  }
  .main #slider-section .img-description-container {
    height: 20%;
  }
  .main #slider-section .img-description-container .slider-controls-desktop {
    display: none;
  }
  .main #slider-section .slider-controls-tablet-and-mobile {
    display: flex;
    position: absolute;
    gap: 12px;
    background-color: #EDF0F7;
    padding: 8px;
    border-radius: 8px;
  }
  .main #slider-section .slider-controls-tablet-and-mobile .slider-controls {
    cursor: pointer;
    border: none;
  }
  .main #slider-section .slider-controls-tablet-and-mobile .slider-controls:hover {
    background-color: #E2E7F0;
  }
}
@media screen and (max-width: 360px) {
  .container {
    max-width: 360px;
    width: 100%;
    margin: 0 auto;
  }
  .main {
    margin-top: 0;
  }
  .main #slider-section {
    height: 280px;
    width: 100%;
    background-position: center;
    border-radius: 0;
    padding-top: 0;
    padding-left: 0;
  }
  .main #slider-section .img-description-container {
    width: 100%;
    left: 0;
    bottom: -190px;
    padding: 16px 0;
    height: 158px;
  }
  .main #slider-section .img-description-container .description-category-date-container,
  .main #slider-section .img-description-container .description-txt {
    margin: 0 10px;
  }
  .main #slider-section .slider-controls-tablet-and-mobile {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 50%;
    padding: 0;
    left: 5%;
    background-color: transparent;
  }
  .main #slider-section .slider-controls-tablet-and-mobile .slider-controls {
    border-radius: 8px;
  }
  .main #slider-section .slider-controls-tablet-and-mobile .slider-numeration {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */