@media screen and (max-width: 1240px) {
  .container {
    @include container($screenResolution: 1240px);
  }
  .main {
    margin-top: 32px;

    #slider-section {
      padding: 0;

      .img-description-container {
        width: 90%;
      }
    }
  }
}
