@media (min-width: 1920px) {
  .header-1 {
    .logo {
      font-size: 34px;
    }

    .search-bar {
      display: flex;
      position: static;
      ;


    }
    .sidebar{
    display: none;
    }

    .search-bar input {
      width: 250px;

    }


    ul li a {
      font-size: 18px;
    }

  }



}