@media (max-width: 1024px) {
  .header-1 {
    justify-content: space-between;
    align-items: center;
    height: 70px;
  
    .logo {
      display: flex;
      align-items: flex-start;
      font-size: 24px;
    }

    .search-bar {
      padding: 0 2px;
      margin-left: 15px;

    }
    .buttons{
      display: flex;
     
    }

    .social-icons {
      display: none;
    }

  }

  .header-2 {
    display: none;
  }

  .humburger {
    display: block;
  
  }

  .humburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .humburger.active .bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }

  .humburger.active .bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
  }

  .nav-menu {
    display: flex;
    
  }

  .nav-menu.active {
    right: 0;
  }
  
}