@media (max-width: 360px) {

  .social-icons {
    display: none;
  }

  .logo {
    font-size: 8px;
    line-height: 34px;
    padding: 0 10px;
    

  }
  
  .second-search {
    display: block;
  }

  .buttons{
    display: flex;
  }

  .search-bar {
    display: none;
  }

  .header-2 {
    display: none;
  }


  .humburger {
    display: block;

  }

  .humburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .humburger.active .bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }

  .humburger.active .bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
  }

  .nav-menu {
    display: flex;

  }

  .nav-menu.active {
    right: 0;
  }
}